.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

textarea {
  width: 100%
}

.submit {
  font-family: 'Bungee', cursive;
  background-color: blue;
  color: white
}

.submit:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}